.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}

.header__mobileButton {
  display: none;
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .header__left {
    width: 90%;
    margin-bottom: 10px;
  }

  .header__left > input {
    width: 100%;
  }

  .header__right {
    justify-content: center;
  }
  .header__mobileButton {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}
