.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
  justify-content: space-between; /* Ensures items spread out */
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
  flex-grow: 1; /* Make the info section take available space */
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.songRow__favoriteIcon {
  margin-left: auto; /* Push the icon to the right */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .songRow {
    flex-direction: row; /* Ensures proper row layout */
    align-items: center; /* Align items vertically */
  }

  .songRow__favoriteIcon {
    margin-left: auto; /* Pushes the icon to the right on mobile */
  }
}
